# Taken from here https://discourse.nixos.org/t/best-practices-for-auto-upgrades-of-flake-enabled-nixos-systems/31255/3 and slightly modified to only rebase and pull.
test -d .direnv || mkdir -p .direnv
now="$(date +%Y-%m-%d)"
if ! test -s .direnv/pull-date || test "$now" != "$(cat .direnv/pull-date)"; then
	git pull --rebase --autostash
	echo "$now" > .direnv/pull-date
fi

# Fixes https://github.com/direnv/direnv/issues/73
export_alias() {
	local name=$1
	shift
	local alias_dir=$PWD/.direnv/aliases
	local target="$alias_dir/$name"
	local oldpath="$PATH"
	mkdir -p "$alias_dir"
	if ! [[ ":$PATH:" == *":$alias_dir:"* ]]; then
		PATH_add "$alias_dir"
	fi

	echo "#!/usr/bin/env bash" > "$target"
	echo "PATH=$oldpath" >> "$target"
	echo "$@" >> "$target"
	chmod +x "$target"
}

use flake
