# direnv files are unnecessary
.direnv

# dconf files
/*.conf
/*.dconf
/.pre-commit-config.yaml

# Config folders
/Config/**/*
!/Config/mimeapps.list
!/Config/*.age
!/Config/config.nix
!/Config/ludusavi.nix
