name: "Flake Build"

on:
  push:
    branches:
      master

jobs:
  build-system:
    runs-on: ubuntu-latest
    steps:
    - name: "Checkout"
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Substituters
      id: substituters
      run: |
        echo "TRUSTED_PUBLIC_KEYS=$(./nix.sh ci_get trusted-public-keys)" >> "$GITHUB_OUTPUT"
        echo "SUBSTITUTERS=$(./nix.sh ci_get trusted-substituters)" >> "$GITHUB_OUTPUT"

    - uses: samueldr/lix-gha-installer-action@latest
      name: "Install Lix"
      with:
        extra_nix_config: |
          trusted-public-keys = ${{ steps.substituters.outputs.TRUSTED_PUBLIC_KEYS }}
          substituters = ${{ steps.substituters.outputs.SUBSTITUTERS }}
          experimental-features = flakes nix-command pipe-operators pipe-operator
          accept-flake-config = true

    - uses: cachix/cachix-action@v15
      with:
        name: spearman4157
        authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

    - name: "Free up Space"
      run: ./nix.sh ci_increase_storage

    - name: Build & push all outputs
      run: |
        nix develop .#ci --command bash -c "nix-build-all --override-input flake . --out-link flake --cachix-cache spearman4157"

