name: "Flake Build"

on:
  push:
    branches:
      master

jobs:
  build-system:
    runs-on: ubuntu-latest
    steps:
    - name: "Checkout"
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Substituters
      id: substituters
      run: |
        echo "TRUSTED_PUBLIC_KEYS=$(./nix.sh ci_get trusted-public-keys)" >> "$GITHUB_OUTPUT"
        echo "SUBSTITUTERS=$(./nix.sh ci_get trusted-substituters)" >> "$GITHUB_OUTPUT"

    - uses: canidae-solutions/lix-quick-install-action@v3
      name: "Install Lix"
      with:
        lix_conf: |
          trusted-public-keys = ${{ steps.substituters.outputs.TRUSTED_PUBLIC_KEYS }}
          substituters = ${{ steps.substituters.outputs.SUBSTITUTERS }}
          experimental-features = flakes nix-command pipe-operator

    - name: "Build Packages"
      run: |
        nix develop .#ci --command bash -c "CACHIX_AUTH_TOKEN=${{ secrets.CACHIX_AUTH_TOKEN }} ./nix.sh ci"
